/* /c:/Users/Aseem/Desktop/GIT/Backend/LOGIN-APP/client/src/index.css */

body {
  background-color: #000000;
  color: white; /* Optional: To ensure text is visible on a black background */
  margin: 0;
  font-family: Arial, sans-serif;
}